/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Belgrano|Crafty+Girls|Love+Ya+Like+A+Sister');
// font-family: 'Love Ya Like A Sister', cursive;
// font-family: 'Crafty Girls', cursive;
// font-family: 'Belgrano', 'serif';

$base-font:  'Belgrano', 'serif';
$header-font: "Love Ya Like A Sister", "Helvetica", "sans-serif";
// For Headers Use Font Below:
$call-to-action-font: 'Love Ya Like A Sister', 'cursive';
// For Paragraphs use font Below:
$p: 'Crafty Girls', 'cursive';


// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #FC8A15;
$green: #32B796;
$gray: #000000;
