/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.home-search-wrapper {
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
}
