<div id= "footer_all">
<div id="footer" style="transform: matrix(1, 0, 0, 1, 0, 100);">
  <ul class="list-inline">
    <li><a href=""><i class="fa fa-youtube"></i></a></li>
    <li><a href=""><i class="fa fa-instagram"></i></a></li>
    <li><a href=""><i class="fa fa-facebook"></i></a></li>
    <li><a href=""><i class="fa fa-twitter"></i></a></li>
  </ul>

  <div class="lemon_tree">
  <%= cl_image_tag("lemon_tree", width: 130, height: 130) %>
</div>

<div class="cherry_tree">
  <%= cl_image_tag("cherry_tree.png", width: 90, height: 90) %>
</div>

<div class="windmill">
  <%= cl_image_tag("windmill.png", width: 150, height: 150) %>
</div>

<div class="tractor">
  <%= cl_image_tag("tractor.png",width: 90, height: 90)
 %>
</div>
<div class="message">Made with love in Copenhagen</div>
</div>
</div>


