<h1>Pages#home</h1>

<!-- Search form -->

<form action="/chefs" method="get" class="form-inline">
  <%= select_tag 'food_choice', options_for_select(@meal_types), {class: "form-control"}  %>
  <input class="search datepicker form-control" type="text" placeholder="Select Date" id= "select_date" name="end_date">
  <input type="submit" class="btn btn-primary">
</form>

<!-- Chef Cards  -->
<!-- Mario Batali Cards -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
        <div class="home-card-category"></div>
        <div class="home-card-description">
          <h2>Mario Batali</h2>
          <p> My Vegan Fever</p>
        </div>
        <img class="home-card-user avatar" src="#">
        <a class="home-card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
<!-- Antonio Luis Cards -->



<!-- Ani Phyo Cards -->
