// Your footer style



#footer {
  text-align: center;
  background-color: #19483F;
  height: 90px;
  position: relative;
  padding-top: 25px;
}

a {
  padding-left: 20px;
}


.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
  font-size: 30px;

}

.list-inline i{
  color: #CCCCCC;
  letter-spacing: 15px;
}

i:hover {
  color: #FC8A15;
}

#footer p{
  color: #CCCCCC;
}

.lemon_tree {
  position: absolute;
  bottom: 40px;
}

.cherry_tree {
  position: absolute;
  left: 120px;
  bottom: 40px;
}

.windmill {
  position: absolute;
  right: 20px;
  bottom: 50px;
}

.tractor {
  position: absolute;
  right: 170px;
  bottom: 10px;
}

