

.chef-card {
  height: 360px;
  width: 300px;
  box-shadow: 4px 4px 4px #888888;
  color: black;
  position: relative;
  border: 2px solid#75229b;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 40px;
  opacity: 0.8;
}

.chef-avatar {
  width: 270px;
  height: 200px;

}
