

.home-wrapper-card {
  display:flex;
  justify-content:center;
  align-items:center;
  height: 300px;
  width: 100%;
  background-image: url("http://res.cloudinary.com/dcy45rdne/image/upload/v1496661364/pexels-cuttingboard_lmhk1e.jpg");
}
