
div.home-container {
  text-align: center;
  padding-top: 10%;
}
  h1 {
  font-family: $call-to-action-font;
  font-size: 60px;
  word-spacing: .4em;
  h2, h3 {
  font-family: $call-to-action-font;
  font-size: 20px;
  }
}
