

.home-wrapper-card {
  display:flex;
  justify-content:center;
  align-items:center;
  height: 400px;
  border-style: solid;
  background-image: url("http://res.cloudinary.com/dcy45rdne/image/upload/c_scale,h_400,w_1400/v1496932096/cuttingboard_ttcdhy.jpg");
}
