.home-form-box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-form-inputs{
  display: flex;
  flex-direction: row;
}

.home-form-control {
  border: 2px solid black;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 200px !important;
}

.home-form-control:focus{
  border-color: orange;
  box-shadow: 0px 1px 3px orange inset, 0px 0px 8px orange;
}

