
div.home-container {
  text-align: center;
  padding-top: 10%;
}
  h1 {
  font-family: $call-to-action-font;
  font-size: 80px;
  word-spacing: .4em;
}

  h2 {
    font-size: 50px;
  }


  h3 {
  font-family: $call-to-action-font;
  font-size: 30px;
  }

  .greenText {
  color:#599C2E;
  }

